###git+https://github.com/naya1503/pyrogram
tgcrypto
pytz
psutil
dnspython==2.3.0
python-dotenv
GitPython
pykeyboard
bs4
pymediainfo
opencv-python-headless
unidecode
attrify
pySmartDL
html2text
removebg
aiofiles
aiohttp
gpytranslate
gtts
telegraph
pyromod==1.1
openai==0.28
youtube-search-python
yt-dlp
wget
python-dateutil
emoji
search_engine_parser
httpx[http2]
httpx
pytimeparse
flask
flask_restful
Pillow==8.3.2
motor==3.0.0
requests
rich
meval
speedtest-cli
g4f
heroku3
pytgcalls==3.0.0.dev24
